<div class="ui basic segment">
  <img src="assets/logo.png" alt="title" class="ui centered tiny image">
  <!-- <span class="ui center text">VR资源库</span> -->
  <div *ngIf="currentMenuItem" class="ui horizontal divider">{{currentMenuItem.title}}</div>

  <div class="ui teal three item secondary pointing menu">
    <a class="item" [routerLink]="['/models']"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">模型</a>
    <a class="item" [routerLink]="['/materials']" routerLinkActive="active">材质</a>
    <a class="item" [routerLink]="['/textures']" routerLinkActive="active">贴图</a>
  </div>

  <app-accordion-menu [categories]="categories"></app-accordion-menu>

</div>