<div class="ui top fixed teal menu">
  <a *ngFor="let item of leftItems" class="item" routerLink="{{item.path}}"  routerLinkActive="active" >
    <i *ngIf="item.icon" class="{{item.icon}} icon"></i>
    {{item.title}}
  </a>
<!-- (click)="onClickMenuItem(item)" -->
  <div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="请输入搜索关键词......">
      <i class="search link icon"></i>
    </div>
  </div>
  <div class="right menu">
    <a *ngFor="let item of rightItems" class="item" routerLink="{{item.path}}" routerLinkActive="active">
      <i *ngIf="item.icon" class="{{item.icon}} icon"></i>
      {{item.title}}
    </a>
  </div>
</div>