<div class="ui basic segment">
  <div class="ui secondary pointing menu">
    <div class="item active">{{title}}</div>
    <div class="right menu">
      <a class="item">更多</a>
    </div>
  </div>
  <div class="ui six doubling link cards">
    <div *ngFor="let product of products" class="card">
      <div class="slide image">
        <!-- <a class="ui right corner label">
          <i class="heart orange icon"></i>
        </a> -->
        <!-- <img src="assets/images/case.jpg" alt="" class="visiable content"> -->
        <img src="https://placehold.it/500x500" alt="">
      </div>
      <div class="extra content">
        <a>
          <i class="download icon"></i> 200 </a>
        <!-- <i class="eye icon"></i>300 -->
        <a class="right floated">
          <i class="thumbs up icon"></i>600</a>
      </div>
    </div>
  </div>
</div>